* {
	box-sizing: border-box;
}

body {
	background-color: #3F94E7;
}

.logo {
	height:35px;
	display:block;
	margin: 35px auto;
}

main {
	background-color:white;
	width:400px;
	padding:40px;
	margin:auto;
}

main h1 {
	text-align:center;
	margin:0;
	font-size: 35px;
	margin-bottom:20px;
	color: #565656;
}

form fieldset {
	padding:0;
	margin:0;
	border:none;
}

form label {
	display:block;
	margin-bottom:15px;
	margin-top:15px;
	font-size:18px;
}

form input {
	color:#A9A9A9;
	border-color:#E7E7E7;
	border:2px solid;
}

.input-fields {
	width:100%;
	height:55px;
	padding:15px;
	border-radius:4px;
}

form button {
	background-color: #65C470;
	color:white;
	border:none;
	margin-top: 15px;
	font-size: 20px;
}

form button:hover {
	background-color: #65a870;
}